---
import SigninoutLayout from "@/layouts/SigninoutLayout.astro";
import AuthForm from '@/components/AuthForm.astro'

---

<SigninoutLayout title="Register">
  <AuthForm title="Register">
    <p>既にアカウントをお持ちですか? <a href="/signin">サインインしてください</a></p>
  </AuthForm>
</SigninoutLayout>